bin/
obj/
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
*.DotSettings.user

# Build output
artifacts/
.artifacts/
out/
TestResults/
publish/

# Packaging output
*.msi
*.exe
*.zip

# Logs
*.log

# OS
.DS_Store
Thumbs.db
